{% extends 'admin/base_admin.html.twig' %}
{% block title %}Tournoi{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <form action="{{ path('admin_tournament_new_form') }}" method="POST" class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input required placeholder="Nom du Tournoi/Trophée" id="name" name="name" type="text" class="validate">
                        <label for="name">Nom du Tournoi/Trophée</label>
                    </div>
                    <div class="input-field col s6">
                        <input required placeholder="Catégorie" id="category" name="category" type="number" class="validate">
                        <label for="category">Catégorie</label>
                    </div>
                </div>
                <div class="row">
                    <h4>1er Jour</h4>
                    <div class="input-field col s4">
                        <input required type="text" id="date_first" name="date_first" class="datepicker">
                        <label for="date_first">1er Jour</label>
                    </div>
                    <div class="input-field col s4">
                        <input required type="text" id="start_time_first" name="start_time_first" class="timepicker">
                        <label for="start_time_first">Heure de début des matchs 1er Jour</label>
                    </div>
                    <div class="input-field col s4">
                        <input required type="text" id="end_time_first" name="end_time_first" class="timepicker">
                        <label for="end_time_first">Heure de fin des matchs 1er Jour</label>
                    </div>
                </div>
                <div class="row">
                    <h4>Second Jour (Si tournoi sur un jour, mettre date antérieure au 1er Jour)</h4>
                    <div class="input-field col s4">
                        <input type="text" id="date_second" name="date_second" class="datepicker">
                        <label for="date_second">2nd Jour</label>
                    </div>
                    <div class="input-field col s4">
                        <input type="text" id="start_time_second" name="start_time_second" class="timepicker">
                        <label for="start_time_second">Heure de début des matchs 2nd Jour </label>
                    </div>
                    <div class="input-field col s4">
                        <input type="text" id="end_time_second" name="end_time_second" class="timepicker">
                        <label for="end_time_second">Heure de fin des matchs 2nd Jour </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 center push-s3">
                        <button class="btn waves-effect waves-light green" type="submit" name="action">
                            Créer <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}