<nav class="black" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="{{ path('homepage') }}" class="brand-logo white-text" style="font-weight: bold">PLAY.</a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a class="dropdown-trigger white-text" href="#" data-target='tournaments-dropdown'>
                    TOURNOIS<i class="fa fa-chevron-down right"></i>
                </a>
            </li>
            <li><a class="white-text" href="#">PHOTOS</a></li>
            <li><a class="white-text" href="#">NOUS CONTACTER</a></li>
            <li><a class="white-text" href="{{ path('admin_login') }}">Admin</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
            <li>
                <a class="dropdown-trigger" href="#" data-target='tournaments-dropdown'>
                    Tournois<i class="fa fa-chevron-down right"></i>
                </a>
            </li>
            <li><a href="#" >Photos</a></li>
            <li><a href="#">Nous Contactez</a></li>
            <li><a href="{{ path('admin_login') }}">Admin</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger white-text"><i class="fa fa-bars"></i></a>
    </div>
</nav>
<ul id='tournaments-dropdown' class='dropdown-content green'>
    {% for tournament in tournaments %}
        <li><a href="#">{{ tournament.name }}</a></li>
    {% else %}
        <li><a href="#">Aucun tournoi</a></li>
    {% endfor %}
</ul>